<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <div class="form-control mr-sm-2">
        <a class="btn btn-primary" href="/profile">Regresar al perfil</a>
    </div>
    <div class="card-group mt-3 container display: flex; justify-content:space-between" >
      <% for(let i = 0; i < friends[0].length; i++) {  %>
          <div class="card text-center border-info" style="width: 18rem;" >
            <img class="card-img-top" src="..." alt="Profile image">
            <div class="card-body">
              <h5 class="card-title"><%= friends[0][i].user_name %> <%= friends[0][i].user_paternal %> <%= friends[0][i].user_maternal %></h5>
              <p class="card-text"><%= friends[0][i].user_studies %> <br> <%= friends[0][i].user_email %></p>
              <a href="/profileFriend/'<%= friends[0][i].user_id%>'" class="btn btn-outline-info">Ver perfil</a>
            </div>
          </div>
       
      <% } %>
    </div>

</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if(typeof  alert != 'undefined'){ %>
         <script>
            Swal.fire({
               title: '<%= alertTitle %>',
               text: '<%= alertMessage %>',
               icon: '<%= alertIcon%>',
               showConfirmButton: '<%= showConfirmButton%>',
               timer: '<%= timer %>'
            }).then(()=>{
               window.location = '/<%= ruta %>'
            })
         </script>
      <% } %>
